<main>
    <div class="main-content" style="padding:8rem 2rem 4rem 2rem;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/nusanetcasestudy_big.preview1.jpg" width="100%">
                </div>
                <div class="col-12 col-md-9">
                    <p>Established since 1996 as a web hosting and design company, Nusanet is now an ISP company licensed nationally from Dirjen Postel/Post and Telecommunication General Director.</p>
                    <p>Nusanet have branches in Jakarta, Surabaya, Medan, Lampung, Palembang, Pekanbaru, Bali, and Malang for serving Dedicated and Broadband Internet access using Fixed Wireless Radio and Fiber Optic. Nusanet also provide dedicated server and co location server services at IDC Cyber building in Jakarta and at our branches in Surabaya, Medan, and Lampung.</p>
            
                    <p>Vision :<br />
                        To be a leading Internet Solution Provider that have branches in every Province of Indonesia.</p>
            
                    <p>Mision :<br />
                        Using the Latest Technology and the sincerest service to help customers to effectively utilize the Internet for Business and Personal Development.</p>
                </div>
                
                <div style="margin-bottom:2rem;"></div>
                
                <div class="col-12">
                    <div class="row">
                      <div class="col-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link active" id="v-pills-1996-tab" data-toggle="pill" href="#v-pills-1996" role="tab" aria-controls="v-pills-1996" aria-selected="true">1996</a>
                          <a class="nav-link" id="v-pills-1997-tab" data-toggle="pill" href="#v-pills-1997" role="tab" aria-controls="v-pills-1997" aria-selected="false">1997</a>
                          <a class="nav-link" id="v-pills-1998-tab" data-toggle="pill" href="#v-pills-1998" role="tab" aria-controls="v-pills-1998" aria-selected="false">1998</a>
                          <a class="nav-link" id="v-pills-1999-tab" data-toggle="pill" href="#v-pills-1999" role="tab" aria-controls="v-pills-1999" aria-selected="false">1999</a>
                          <a class="nav-link" id="v-pills-2000-tab" data-toggle="pill" href="#v-pills-2000" role="tab" aria-controls="v-pills-2000" aria-selected="false">2000</a>
                          <a class="nav-link" id="v-pills-2001-tab" data-toggle="pill" href="#v-pills-2001" role="tab" aria-controls="v-pills-2001" aria-selected="false">2001</a>
                          <a class="nav-link" id="v-pills-2002-tab" data-toggle="pill" href="#v-pills-2002" role="tab" aria-controls="v-pills-2002" aria-selected="false">2002</a>
                          <a class="nav-link" id="v-pills-2003-tab" data-toggle="pill" href="#v-pills-2003" role="tab" aria-controls="v-pills-2003" aria-selected="false">2003</a>
                          <a class="nav-link" id="v-pills-2004-tab" data-toggle="pill" href="#v-pills-2004" role="tab" aria-controls="v-pills-2004" aria-selected="false">2004</a>
                          <a class="nav-link" id="v-pills-2005-tab" data-toggle="pill" href="#v-pills-2005" role="tab" aria-controls="v-pills-2005" aria-selected="false">2005</a>
                          <a class="nav-link" id="v-pills-2006-tab" data-toggle="pill" href="#v-pills-2006" role="tab" aria-controls="v-pills-2006" aria-selected="false">2006</a>
                          <a class="nav-link" id="v-pills-2007-tab" data-toggle="pill" href="#v-pills-2007" role="tab" aria-controls="v-pills-2007" aria-selected="false">2007</a>
                          <a class="nav-link" id="v-pills-2008-tab" data-toggle="pill" href="#v-pills-2008" role="tab" aria-controls="v-pills-2008" aria-selected="false">2008</a>
                          <a class="nav-link" id="v-pills-2011-tab" data-toggle="pill" href="#v-pills-2011" role="tab" aria-controls="v-pills-2011" aria-selected="false">2011</a>
                          <a class="nav-link" id="v-pills-2012-tab" data-toggle="pill" href="#v-pills-2012" role="tab" aria-controls="v-pills-2012" aria-selected="false">2012</a>
                          <a class="nav-link" id="v-pills-2015-tab" data-toggle="pill" href="#v-pills-2015" role="tab" aria-controls="v-pills-2015" aria-selected="false">2015</a>
                          <a class="nav-link" id="v-pills-2016-tab" data-toggle="pill" href="#v-pills-2016" role="tab" aria-controls="v-pills-2016" aria-selected="false">2016</a>
                          <a class="nav-link" id="v-pills-2017-tab" data-toggle="pill" href="#v-pills-2017" role="tab" aria-controls="v-pills-2017" aria-selected="false">2017</a>
                          <a class="nav-link" id="v-pills-2018-tab" data-toggle="pill" href="#v-pills-2018" role="tab" aria-controls="v-pills-2018" aria-selected="false">2018</a>
                          
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-1996" role="tabpanel" aria-labelledby="v-pills-1996-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Started known as medannet, webhosting service company and first design in Medan City</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/hosting_pic.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-1997" role="tabpanel" aria-labelledby="v-pills-1997-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Support International Rally Indonesia Championship with liveupdate through <a href="www.rallyindo.com">www.rallyindo.com</a>. International journalists such as CNN, the BBC use this site as an information center.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/INDO05Valimaki400.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-1998" role="tabpanel" aria-labelledby="v-pills-1998-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Launched the website <a href="www.indomall.com">www.indomall.com</a> as one of the first online shopping sites in Indonesia. The site received extensive coverage from national media such as Swa, Kompas, Tempo, Gatra, Kontan, Bisnis Indonesia, Seconds etc. The site has been sold to investors jakarta with the value that is touted as the largest in Indonesia.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/ecommerce.png">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-1999" role="tabpanel" aria-labelledby="v-pills-1999-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <ul>
                                          <li>Meluncurkan situs www.medannic.com sebagai situs pendaftaran domain yang pertama di Indonesia dalam mata uang rupiah yang jauh lebih murah daripada dollar.</li>
                                            <li>Bekerja sama dengan Telkom divisi Multimedia Jakarta memasarkan Telkomnet di kota Medan.</li>
                                      </ul>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/domain1.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2000" role="tabpanel" aria-labelledby="v-pills-2000-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>PT. Media Antar Nusa menjadi ISP berlisensi resmi dari Dirjen Postel yang pertama di luar pulau jawa dengan brand Nusanet.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/Best-Internet-Providers.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2001" role="tabpanel" aria-labelledby="v-pills-2001-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Launched wireless Internet through 2.4 Ghz freq.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/IMG_3352.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2002" role="tabpanel" aria-labelledby="v-pills-2002-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Start offering Internet dedicated volume based systems that are guaranteed faster and more cost-effective.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/social-world.png">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2003" role="tabpanel" aria-labelledby="v-pills-2003-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Become a <b>Microsoft Certified Partner.</b></p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/MS-Partner-jpg_full.jpeg">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2004" role="tabpanel" aria-labelledby="v-pills-2004-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Being a Motorola Authorized Canopy Solution Provider.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/motorola-canopy_big.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2005" role="tabpanel" aria-labelledby="v-pills-2005-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <ul>
                                          <li>Membuka kantor baru di kompleks multatuli Indah sekaligus meluncurkan Cbroadband, broadband kompleks real estate.</li>
                                            <li>Membuka cabang Lampung.</li>
                                            <li>Meningkatkan pelayanan dengan memiliki koneksi Internet yang redundent melalui Panamsat-USA dan singtel-singapore.</li>
                                            <li>Meningkatkan kualitas dengan peningkatan sistem administrasi menuju standard ISO 9000/2000.</li>
                                            <li>Membuka layanan colocation di IDC Jakarta.</li>
                                      </ul>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/IgniteChartGraphics.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2006" role="tabpanel" aria-labelledby="v-pills-2006-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Opening a branch in Jakarta.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/Membuka-cabang.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2007" role="tabpanel" aria-labelledby="v-pills-2007-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Launched www.layartancap.com Indonesia's first video sharing website.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/dh-social-media-buttons-istock-image-25015338.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2008" role="tabpanel" aria-labelledby="v-pills-2008-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <ul>
                                          <li>Launched www.idcolo.com website sales online first webhosting using paypal online payment in Indonesia.</li>
                                            <li>Opened a branch in Surabaya.</li>
                                      </ul>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/IDColo-logo.png">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2011" role="tabpanel" aria-labelledby="v-pills-2011-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <ul>
                                          <li>Launched ADSL Nusanet service.</li>
                                            <li>Move to Building D1 Komp. Multatuli Indah Block D No. 1 Medan (October 2011).</li>
                                      </ul>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/ADSL.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2012" role="tabpanel" aria-labelledby="v-pills-2012-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>In 2012, Nusanet launched Datang. A website of online wedding invitation service provider in the form of website. We provide a service that is practical for those of you who want an ease in sending your Wedding Invitation to all relatives online. Comes With various variants of the theme that is constantly updated. Available A variety of interesting features. One of them is the "Special Invite" feature, Video Comment.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/Datangya-logo.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2015" role="tabpanel" aria-labelledby="v-pills-2015-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>In accordance with Nusanet's vision is to become a leading internet solution provider company that has branches in every province in Indonesia. In 2015, Nusanet opened a new branch in Malang and Bali.</p>
                                      <p>For Malang, Nusanet office is located at Jl. West Panggung Temple no. 61A, Malang 65142.<br />
                                        As for Bali, Nusanet office is located on Jl. Dewi Sri Gedung BTC No. 2, Kuta Badung, Bali 80361.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/Membuka-cabang.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2016" role="tabpanel" aria-labelledby="v-pills-2016-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Nusanet opened a new branch in the city of Pekanbaru and Palembang.</p>

                                        <p>For branch Pekanbaru located at Jl. Borobudur No. 14 lt. 2 Exod. Simpang Empat Kec. Pekanbaru City, Pekanbaru - Riau 28116.</p>

                                        <p>As for Palembang, Jl. Mayor Salim Batu Bara 204, RT 16, RW 04, 20 Ilir, Kemuning – Palembang.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/POP-Nusanet.png">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2017" role="tabpanel" aria-labelledby="v-pills-2017-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>On August 1, 2017, NUSA.ID launched its Corporate Email Solution Provider, Web Hosting Provider, Domain Provider Provider, Dedicated Server Provider, VPS Server Provider, Colocation Server Provider and Datacenter Services Provider provider based in Medan Sumatera Utara Indonesia.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-2018" role="tabpanel" aria-labelledby="v-pills-2018-tab">
                              <div class="row">
                                  <div class="col-12 col-md-8">
                                      <p>Opening a branch in Bandung.</p>
                                  </div>
                                  <div class="col-12 col-md-4">
                                      <img src="https://www.nusa.net.id/wp-content/uploads/2010/10/Membuka-cabang.jpg" width="100%">
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
        </div> 
    </div>
</main>