<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FC592E" />
    <title>{{title}}</title>
    <link rel="icon" sizes="192x192" href="https://grry-v-2-nurhandiyudi.c9users.io/images/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto|Open+Sans:100,200,300,400,500,700" rel="stylesheet">


    <!-- Style css -->
    <link href="https://grry-v-2-nurhandiyudi.c9users.io/css/style.css" rel="stylesheet">
</head>
<body>
<div class="groovy-container">
    
    <nav class="navbar navbar-expand-lg fixed-top bg-white" style="border-bottom: 1px solid #eee;">
      <a class="navbar-brand" href="https://grry-v-2-nurhandiyudi.c9users.io"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/logo-groovy.png" alt="logo-groovy" width="120px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/features" style="font-size:13px;padding: 0.5rem 1rem;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/packages" style="font-size:13px;padding: 0.5rem 1rem;">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/support" style="font-size:13px;padding: 0.5rem 1rem;">Support</a>
          </li>
        </ul>
        <a href="https://grry-v-2-nurhandiyudi.c9users.io/packages" class="sign-in-button" style="font-size:13px;">GET DEAL</a>
      </div>
    </nav>
    
    <!--content-->
    <div class="contact-maps">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBNTqYE7i0Qqyauj7KDghzQTbo8f2vA7a4'></script><div style='overflow:hidden;height:400px;width:100%;'><div id='gmap_canvas' style='height:400px;width:100%;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='https://embedmaps.org/' style="color: white;">google map widget</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=d1731b902a6ac7a7b953f8feb57951291f8c00f3'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(-6.238650199999999,106.82407739999996),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-6.238650199999999,106.82407739999996)});infowindow = new google.maps.InfoWindow({content:'<strong>Groovy - PT Media Andalan Nusa</strong><br>Cyber Building 7th Floor, Jl. Kuningan Barat No.8<br>12710 Jakarta Selatan, DKI Jakarta, Indonesia<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
    
    <div class="container contact-content">
        <div class="row">
            <div class="col-sm-4 contact-info">
                <h3 class="contact-header">Contact Info</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <p><span class="contact-info-title">Address</span>
                    </div>
                    <div class="col-sm-9">
                        <span class="contact-info-text">Cyber Building 7th Floor,<br> Jln Kuningan Barat 8,<br> Jakarta 12710,<br> Indonesia</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p><span class="contact-info-title">Email</span>
                    </div>
                    <div class="col-sm-9">
                        <a href="mailto:cs@groovy.id"><span class="contact-info-text">cs@groovy.id</span></p></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 contact-form">
                <h3 class="contact-header">Get In Touch with Us</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <p>We're here to help when you need us and we're ready to answer your questions. You can also send as an email, and we'll answer within 24 hours</p>
                    </div>
                    <div class="col-sm-12">
                        <form action="https://grry-v-2-nurhandiyudi.c9users.io/contact" method="post">
                            <div class="form-group">
                                <span class="contact-input-text">Your Name</span>
                                <input class="form-control contact-input" name="name" id="name" type="text" placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <span class="contact-input-text">Your Email</span>
                                <input class="form-control contact-input" name="email" id="email" type="text" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <span class="contact-input-text">Message</span>
                                <textarea class="form-control contact-input-textarea" name="message" id="message" placeholder="Message here"/></textarea>
                            </div>
                            <div class="form-group">
                                <input class="btn contact-send-button" name="submit" id="submit" type="submit" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/content-->

    <div class="home-footer">
        <div class="container home-content">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p style="line-height:25px;"><span class="home-footer-header-text"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/groovy.png" alt="" width="120px" style="margin-bottom:15px;"></span><br>
                        <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                        <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                        <a href="https://twitter.com/groovy_play">Twitter</a><br>
                        <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                        <span class="home-footer-body-text">
                        <a href="/features#unlimited">Unlimited Internet Access</a><br>
                        <a href="/features#ftth">Fiber Optic to the Home</a><br>
                        <a href="/features#free-wifi">Free Public Wifi Account</a><br>
                        <a href="/features#ip-static">IP Static</a><br>
                        <a href="/features#helpdesk">Helpdesk 24/7</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                        <a href="about">About</a><br/>
                        <a href="career">Career</a><br>
                        <a href="event">Event</a><br>
                        <a href="contact">Contact</a><br>
                        <a href="privacy-policy">Privacy Policy</a><br>
                        <a href="terms-of-use">Terms of Use</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-home">
        <div class="container footer-home-text">
            <p style="margin: 6px 0 10px;opacity:0.7">Copyright 2017 Groovy. All Right Reserved.</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/script.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/subscribe.js"></script>
</body>
</html>
