
    <!--content-->
    <div class="jumbotron container wall-features">
        <div class="row">
            <div class="col-12">
                <img width="100%" src="./images/background-feature-tv.png"/>
            </div>
            <div class="col-12 text-center">
                <h2 class="wall-features-title">High Speed Fiber Optic Internet For Home & Personal</h2>
                <p class="wall-features-text">Go With Groovy High-Speed Internet for a consistent fast connection. Enjoy high speed internet access to your home now. Stream live tv through out home using many of your favourite devices with 94 + Local & International Channel.</p>
            </div>
        </div>
    </div>
    <div class="features-content2" id="ftth" style="padding:2rem 2rem;">
        <div class="container wall-content">
            <div class="row">
                <div class="col-6" style="background-image:url('./images/fo.jpg');"></div>
                <div class="col-6">
                    <p><span class="wall-title features-content2-title">Fiber Optic to the Home</span></p>
                    <p><span class="home-content-text features-content2-text">You can take your entertainment with you. Watch the hottest shows and movies On Demand and stream live TV. Just turn on your TV, laptop, tablet or phone</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-content3" id="free-wifi">
        <div class="features-content3-container container">
            <div class="row">
                <div class="col-6">
                    <p><span class="wall-content-title">Free Public WiFi Account</span></p>
                    <p><span class="home-content-text">Get free public wifi account with more than 100k hotspot location speed up to 100Mbps</span></p>
                </div>
                <div class="col-6">
                    <p><span class="wall-content-title">Unlimited Internet Access</span></p>
                    <p><span class="home-content-text">Have it all lighting-fast network speeds and unlimited Internet usage. Never worry about surprise charges again!</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-content4" id="ip-static">
        <div class="features-content4-container container">
            <div class="row">
                <div class="col-6">
                    <p><span class="wall-content-title">IP Static</span></p>
                    <p><span class="home-content-text">Don't worry about the changes in the IP address during the connected session. Also when you connect to your computer through applications such as remote desktop, you need not be bothered about losing the IP address.</span></p>
                </div>
                <div class="col-6">
                    <p><span class="wall-content-title">Helpdesk 24/7</span></p>
                    <p><span class="home-content-text">We're here to help when you need us. Our 24/7 live chat support is ready to answer your questions. You can also send us and email, and we'll answer within 24 hours</span></p>
                </div>
            </div>
        </div>
    </div>
    <!--/content-->
    
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <span style="font-size:2rem;">Online</span><br />
                <span style="font-size:4rem;font-weight:700;">24/7</span><br />
                <span style="font-size:2rem;">Hours</span>
            </div>
            <div class="col-12 col-lg-9 text-left">
                <h4>Questions?</h4>
                <p>We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. <br/>You can also send us an email, and we’ll answer within 24 hours.</p>
                <a href="/contact">CONTACT US</a>
            </div>
        </div>
    </div>
    