
    
    
    <div class="row" style="margin-left:0;margin-right:0;margin-bottom:0px;">
        <div class="col-md-6 main-wall">
            <h2> Happy is simple,<br/>Start from your home, <br/>Right now!</h2>
            <p>Combine high speed Internet access with WiFi more than 100K hotspot <br/>location, speed up to 100Mbps.</p>
            <a href="/packages#packageList" class="hoverable" style="font-size:1.3rem;">GET DEAL</a>
        </div>
        <div class="col-md-6 main-wall-image">
            &nbsp;
        </div>
    </div>
    
    <div class="main-wall-2">
        <div class="row">
            <div class="col-md-6">
                <h5>CONNECTING HOME</h5>
                <h3>Super fast Internet makes it all possible.</h3>
                <h4>Limitless entertainment.</h4>
                <p>With up to 100 megabits per second, do whatever you want, whenever you want. Download in seconds, stream instantly and say goodbye to buffering. Go ahead, use all those devices at the same time.</p>
                <h4>Uploads as fast as downloads.</h4>
                <p>Whether you’re broadcasting live, uploading your photos, sharing huge files, or video chatting in HD, our symmetrical upload and download speed gives you all the power you’ll need and then some.</p>
                <h4>Powerful Wifi.</h4>
                <p>Get powerful Wi-Fi with more than 100K hotspot location, speed up to 100Mbps, designed to give you Internet access anywhere.</p>
            </div>
            <div class="col-md-6">
                <img src="images/image-groovy-homepage2.png" width="100%"/>
            </div>
        </div>
    </div>
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <h4 style="color:#64696f;">Member Of :</h4>
                <div class="row">
                    <div class="col-12" style="padding:1rem;">
                        <img class="partner-img" src="https://www.nusa.net.id/wp-content/uploads/2015/02/apjii.png" width="55%">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <h4 style="color:#64696f;">Our Partner:</h4>
                <div class="row">
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="https://www.nusa.net.id/wp-content/uploads/2015/02/cambium.png" width="85%">
                    </div>
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/indosat.png" width="55%">
                    </div>
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/telkom.png" width="55%">
                    </div>
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/fiberstar.png" width="85%">
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <span style="font-size:2rem;">Online</span><br />
                <span style="font-size:4rem;font-weight:700;">24/7</span><br />
                <span style="font-size:2rem;">Hours</span>
            </div>
            <div class="col-12 col-lg-9 text-left">
                <h4>Questions?</h4>
                <p>We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. <br/>You can also send us an email, and we’ll answer within 24 hours.</p>
                <a href="/contact">CONTACT US</a>
            </div>
        </div>
    </div>
