
    
    
    
    
    <div class="main-wall" >
        <div class="row">
            <div class="col-md-6">
                <h2> Happy is simple,<br/>Start from your home, <br/>Right now!</h2>
                <p>Combine high speed Internet access with WiFi more than 100K hotspot <br/>location, speed up to 100Mbps.</p>
                <a href="/packages#packageList" class="hoverable" style="font-size:15px;">SUBSCRIBE NOW</a>
            </div>
            <div class="col-md-6">
                <img src="images/img-homepage-3.png" style="width:120%"/>
            </div>
        </div>
    </div>
    
    <div style="text-align:center">
        <img src="/images/div-divider.png"/>
    </div>
    
    
    
    <div class="main-wall-2">
        <div class="row">
            <div class="col-md-12">
                <h3>Connecting Home</h3>
                <p>Super fast Fiber Optic Internet makes it all possible.</p>
                <img src="/images/div-divider-2.png"/>
            </div>
        </div>
    </div>
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <h4 style="color:#64696f;">Member Of :</h4>
                <div class="row">
                    <div class="col-12" style="padding:1rem;">
                        <img class="partner-img" src="https://www.nusa.net.id/wp-content/uploads/2015/02/apjii.png" width="55%">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <h4 style="color:#64696f;">Our Partner:</h4>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3" style="padding:1rem;">
                        <img class="partner-img" src="https://www.nusa.net.id/wp-content/uploads/2015/02/cambium.png" width="85%">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/indosat.png" width="55%">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/telkom.png" width="55%">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/fiberstar.png" width="85%">
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <span style="font-size:2rem;">Online</span><br />
                <span style="font-size:4rem;font-weight:700;">24/7</span><br />
                <span style="font-size:2rem;">Hours</span>
            </div>
            <div class="col-12 col-lg-9 text-left">
                <h4>Questions?</h4>
                <p>We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. <br/>You can also send us an email, and we’ll answer within 24 hours.</p>
                <a href="/contact">CONTACT US</a>
            </div>
        </div>
    </div>