<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FC592E" />
    <title>{{title}}</title>
    <link rel="icon" sizes="192x192" href="/images/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto|Open+Sans:100,200,300,400,500,700" rel="stylesheet">

    <!-- Style css -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="groovy-container">
    
    <nav id="navbar-groovy" class="navbar navbar-expand-lg fixed-top navbar-groovy">
      <a id="navbar-brand-white" class="navbar-brand" href="/"><img src="/images/logo-groovy-white-transparent.png" alt="logo-groovy" width="120px"/></a>
      <a id="navbar-brand-grad" class="navbar-brand" href="/"><img src="/images/logo-groovy.png" alt="logo-groovy" width="120px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/packages">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About Us</a>
          </li>
        </ul>
        <a href="/packages#packageList" class="sign-in-button hoverable" style="font-size:13px;">GET DEAL</a>
      </div>
    </nav>
    
    {{{body}}}
    
    <div class="home-footer">
        <div class="container home-content">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p style="line-height:25px;"><span class="home-footer-header-text"><img src="/images/groovy.png" alt="" width="120px" style="margin-bottom:15px;"></span><br>
                        <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.
                    </p>
                    <div class="row">
                        <div class="col-2">
                            <img class="partner-img" src="http://www.nusanetwifi.com/static/nusawifi/images/logo.png" width="100%">
                        </div>
                        <div class="col-2">
                            <img class="partner-img" src="https://jkt.nusa.net.id/wp-content/uploads/2015/11/logo-nusanet.png" width="100%">
                        </div>
                        <div class="col-2">
                            <img class="partner-img" src="https://www.idcolo.com/wp-content/uploads/logo-idcolo-header.png" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                        <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                        <a href="https://twitter.com/groovy_play">Twitter</a><br>
                        <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                        <span class="home-footer-body-text">
                        <a href="/features#unlimited">Unlimited Internet Access</a><br>
                        <a href="/features#ftth">Fiber Optic to the Home</a><br>
                        <a href="/features#free-wifi">Free Public Wifi Account</a><br>
                        <a href="/features#ip-static">IP Static</a><br>
                        <a href="/features#helpdesk">Helpdesk 24/7</a><br>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-home">
        <div class="container footer-home-text">
            <p style="margin: 6px 0 10px;opacity:0.7">@2017 Groovy - PT. Media Antar Nusa</p>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118032774-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118032774-1');
</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/subscribes.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>