
    <!--content-->
    <div class="wall-package" style="background-color:#fc592e !important;">
        <div class="container wall-content text-center">
            <div class="row">
                <div class="col-sm-12" style="color:#fff !important;">
                    <p><span class="wall-features-title">Choose the right package for all your needs</span></p>
                    <p><span class="home-content-text">Packages that combine high-speed Internet service,<br/>complete with very competitive prices.</span></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-content broadband-fiber-content p-0" style="background-color:#fff;" id="packageList">
        <div class="broadband-fiber-package" style="padding-bottom:2rem;">
            <div class="container text-center">
                <div class="main-des">
                    <h3 style="color:#333;font-family:inherit;font-weight:300;font-size:32px;padding-top:100px;margin-bottom:2rem;">Groovy Packages</h3>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 1</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">15</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div class="price-package">
                                <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">4.188</span>
                            </div>
                            <div class="price-package">
                                <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/1" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 2</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">30</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="price-package">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">5.388</span>
                                </div>
                                <div class="price-package">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/2" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 3</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">50</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="price-package">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">7.788</span>
                                </div>
                                <div class="price-package">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/3" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 4</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">100</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="price-package">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">11.988</span>
                                </div>
                                <div class="price-package">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/4" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 5</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">150</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="price-package">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">34.680</span>
                                </div>
                                <div class="price-package">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/5" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 6</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">200</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="price-package">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">56.280</span>
                                </div>
                                <div class="price-package">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/6" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-12 col-lg-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 7</span><br />
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">300</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-12 col-lg-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="price-package">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.4rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">68.280</span>
                                </div>
                                <div class="price-package">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;.000</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:1.5rem 1rem;">
                            <div class="feature-package text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/7" class="order-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    
                    <!--
                    <div class="main-card">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 1</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">15 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/1">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 4.188.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 2</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">30 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/2">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 5.388.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 3</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">50 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/3">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 7.788.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 4</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">100 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/4">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 11.988.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 5</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">150 Mbps 
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/5">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 34.680.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 6</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">200 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/6">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 56.280.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 7</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">300 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/7">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 68.280.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <h4 style="color:#64696f;">Member Of :</h4>
                <div class="row">
                    <div class="col-12" style="padding:1rem;">
                        <img class="partner-img" src="https://www.nusa.net.id/wp-content/uploads/2015/02/apjii.png" width="55%">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <h4 style="color:#64696f;">Our Partner:</h4>
                <div class="row">
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="https://www.nusa.net.id/wp-content/uploads/2015/02/cambium.png" width="85%">
                    </div>
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/indosat.png" width="55%">
                    </div>
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/telkom.png" width="55%">
                    </div>
                    <div class="col-3" style="padding:1rem;">
                        <img class="partner-img" src="http://erabangun.co.id/assets/img/partner/fiberstar.png" width="85%">
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-12 col-lg-3">
                <span style="font-size:2rem;">Online</span><br />
                <span style="font-size:4rem;font-weight:700;">24/7</span><br />
                <span style="font-size:2rem;">Hours</span>
            </div>
            <div class="col-12 col-lg-9 text-left">
                <h4>Questions?</h4>
                <p>We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. <br/>You can also send us an email, and we’ll answer within 24 hours.</p>
                <a href="/contact">CONTACT US</a>
            </div>
        </div>
    </div>
    