<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FC592E" />
    <title>{{title}}</title>
    <link rel="icon" sizes="192x192" href="https://grry-v-2-nurhandiyudi.c9users.io/images/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto|Open+Sans:100,200,300,400,500,700" rel="stylesheet">


    <!-- Style css -->
    <link href="https://grry-v-2-nurhandiyudi.c9users.io/css/style.css" rel="stylesheet">
</head>
<body>
<div class="groovy-container">
    
    <nav class="navbar navbar-expand-lg fixed-top bg-white" style="border-bottom: 1px solid #eee;">
      <a class="navbar-brand" href="https://grry-v-2-nurhandiyudi.c9users.io"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/logo-groovy.png" alt="logo-groovy" width="120px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/features" style="font-size:13px;padding: 0.5rem 1rem;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://grry-v-2-nurhandiyudi.c9users.io/packages" style="font-size:13px;padding: 0.5rem 1rem;">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/support" style="font-size:13px;padding: 0.5rem 1rem;">Support</a>
          </li>
        </ul>
        <a href="https://grry-v-2-nurhandiyudi.c9users.io/packages" class="sign-in-button" style="font-size:13px;">GET DEAL</a>
      </div>
    </nav>
    
    <!--content-->
    <div class="wall-package" style="background-color:#fc592e !important;">
        <div class="container wall-content text-center">
            <div class="row">
                <div class="col-sm-12" style="color:#fff !important;">
                    <p><span class="wall-features-title">Choose the right package for all your needs</span></p>
                    <p><span class="home-content-text">Packages that combine high-speed Internet service,<br/>complete with very competitive prices.</span></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-content broadband-fiber-content p-0" style="background-color:#fff;" id="packageList">
        <div class="broadband-fiber-package" style="padding-bottom:2rem;">
            <div class="container text-center">
                <div class="main-des">
                    <h3 style="color:#333;font-family:inherit;font-weight:300;font-size:32px;padding-top:100px;margin-bottom:2rem;">Groovy Packages</h3>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 1</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">15</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">4.188</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/1" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 2</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">30</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">5.388</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/2" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 3</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">50</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">7.788</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/3" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 4</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">100</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">11.988</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/4" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 5</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">150</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">34.680</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/5" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 6</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">200</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">56.280</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/6" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <div class="row" style="border-bottom: 2px solid #eeeeee;">
                        <div class="col-2 text-left" style="padding:3rem 1rem;">
                            <span style="font-size:2.6rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:300;">LEVEL 7</span>
                            <span style="font-family:'Open Sans', sans-serif;font-size:0.9rem;font-weight:500;color:#666;line-height:1;">Broadband Fiber Optic</span>
                        </div>
                        <div class="col-2" style="padding:2rem 1rem;">
                            <span style="font-size:3.5rem;color:#fc592e;line-height:1;font-family:'Open Sans', sans-serif;font-weight:700;">300</span><br />
                            <span style="font-size:2rem;color:#fc592e;line-height:1;font-family:'Roboto', sans-serif;font-weight:700;">Mbps</span>
                        </div>
                        <div class="col-2" style="padding:3rem 0;">
                            <div style="color:#fc592e !important;">
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem; vertical-align: top;font-family:'Open Sans', sans-serif;font-weight:300;">IDR</span>
                                    <span style="font-size:2.6rem;line-height: 55px;font-family:'Open Sans', sans-serif;font-weight:300;">68.280</span>
                                </div>
                                <div class="text-left" style="float:left;">
                                    <span style="font-size: 1rem;line-height:2.4;font-family:'Open Sans', sans-serif;font-weight:300;">&nbsp;K</span><br />
                                    <span style="font-size: 0.7rem;line-height:0;vertical-align: top;font-family:'Open Sans', sans-serif;">&nbsp;/year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding:1.5rem 1rem;">
                            <div class="text-left" style="color:#fc592e !important;font-size:.838rem;font-family:'Open Sans', sans-serif;font-weight:500;">
                                <span>Symmetric Upload and Download</span><br />
                                <span>WiFi Access Point</span><br />
                                <span>Static IP Address</span><br />
                                <span>Free Installation Fee</span><br />
                                <span>No Monthly Fee</span><br />
                                <span>Include PPN</span>
                            </div>
                        </div>
                        <div class="col-3" style="padding:3.5rem 0">
                            <a href="/subscribe-now/7" class="sign-in-button" style="font-size:1.5rem;margin:0 !important;font-weight:300;font-family:'Open Sans', sans-serif;">Check Availability</a>
                        </div>
                    </div>
                    
                    <!--
                    <div class="main-card">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 1</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">15 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/1">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 4.188.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 2</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">30 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/2">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 5.388.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 3</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">50 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/3">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 7.788.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 4</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">100 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/4">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 11.988.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 5</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">150 Mbps 
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/5">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 34.680.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 6</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">200 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/6">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 56.280.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4>Level 7</h4>
                                        <div class="card-body-content">
                                            <span class="bw-text">300 Mbps
                                                <div class="nusanet-card-2-button text-center">
                                                    <a class="groovy-button hoverable" id="link1" href="/subscribe-now/7">ORDER NOW</a>
                                                    <div class="nusanet-card-2-item text-center">
                                                        <p class="bold-text">IDR 68.280.000,-/year</p>
                                                        <p>Symmetric Upload and Download</p>
                                                        <p>WiFi Access Point</p>
                                                        <p>Static IP Address</p>
                                                        <p>Free Charge Installation</p>
                                                        <p>Include PPN</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="main-wall-3" id="support">
        <div class="row">
            <div class="col-3">
                <span style="font-size:2rem;">Online</span><br />
                <span style="font-size:4rem;font-weight:700;">24/7</span><br />
                <span style="font-size:2rem;">Hours</span>
            </div>
            <div class="col-9 text-left">
                <h4>Questions?</h4>
                <p>We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. <br/>You can also send us an email, and we’ll answer within 24 hours.</p>
                <a href="/support">CONTACT US</a>
            </div>
        </div>
    </div>
    
    <div class="home-footer">
        <div class="container home-content">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p style="line-height:25px;"><span class="home-footer-header-text"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/groovy.png" alt="" width="120px" style="margin-bottom:15px;"></span><br>
                        <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                        <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                        <a href="https://twitter.com/groovy_play">Twitter</a><br>
                        <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                        <span class="home-footer-body-text">
                        <a href="/features#unlimited">Unlimited Internet Access</a><br>
                        <a href="/features#ftth">Fiber Optic to the Home</a><br>
                        <a href="/features#free-wifi">Free Public Wifi Account</a><br>
                        <a href="/features#ip-static">IP Static</a><br>
                        <a href="/features#helpdesk">Helpdesk 24/7</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                        <a href="about">About</a><br/>
                        <a href="career">Career</a><br>
                        <a href="event">Event</a><br>
                        <a href="contact">Contact</a><br>
                        <a href="privacy-policy">Privacy Policy</a><br>
                        <a href="terms-of-use">Terms of Use</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-home">
        <div class="container footer-home-text">
            <p style="margin: 6px 0 10px;opacity:0.7">Copyright 2017 Groovy. All Right Reserved.</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/script.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/subscribe.js"></script>
</body>
</html>
