<main style="height:100vh;">
    <div class="container" style="height:100%;">
        <div class="row justify-content-center align-items-center" style="padding:7rem 0 !important;height:100%;">
            <div class="col-6 text-center">
                <h3 style="letter-spacing: 0.4px;line-height: 1.2;font-weight: 700;font-size: 40px;margin-top: 0px;color: rgb(94, 99, 105);">THANK YOU</h3>
                {{#if expressFlash}}
                <span style="font-size: 15px;color: rgb(159, 163, 169);">{{expressFlash}}</span>
                {{/if}}
            </div>
        </div>
    </div>
</main>