<main style="height:100vh;">
    <div class="register-page row justify-content-center align-items-center m-0"  style="height:100%;" ng-app="">
        <div class="register-form-wrapper col-12 col-md-6 col-lg-4 p-0">
            <h4 style="text-align:center;margin:2rem 0;">Groovy Payment Confirmation</h4>
            
            <form action="" enctype="multipart/form-data" method="post">
                
                <div class="form-group">
                    <label for="id">ID <span style="color:red;">*</span> :</label>
                    <input class="form-control" id="fullname" type="text" name="fullname" ng-model="fullname"/>
                </div>
                <div class="form-group">
                    <label for="no-invoice">No Invoice <span style="color:red;">*</span> :</label>
                    <input class="form-control" id="phone" type="text" name="phone" ng-model="phone" />
                </div>
                <div class="form-group">
                    <label for="payConfirm">Pay Confirm <span style="color:red;">*</span></label>
                    <input class="form-control-file" type="file" id="payConfirm" name="payConfirm"/>
                    <small class="form-text text-muted">Please upload proof of payment.</small>
                </div>
                <div class="form-group">
                    <input class="groovy-button" id="payConfirm" type="submit" value="Confirm" />
                </div>
                
            </form>
        </div>
        
    </div>
</main>