<main style="padding-top: 7rem;">
    <form id="regForm" method="post" action="/groovy-online-registration/inquiry-form">
        <div class="main-content registration-content grey-background">
            <div class="container">
                <div class="content-des text-center">
                    <h4 style="color:#333;font-family:'Roboto';font-weight:300;margin-bottom:2rem;">Formulir Inquiry Online Registeration Groovy</h4>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="full-name">Nama Lengkap - <span style="font-weight:300;">Full Name</span></label><input class="form-control" id="fullname" type="text" name="fullname" required="required" /></div>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="mobile-number">No. HP - <span style="font-weight:300;">Mobile Number</span></label><input class="form-control" id="mobilenumber" type="text" name="mobilenumber" required="required" /></div>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="email-addr">Email - <span style="font-weight:300;">Email Address</span></label><input class="form-control" id="emailaddr" type="text" name="emailaddr" required="required" /></div>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="city">Kota - <span style="font-weight:300;">City</span></label><input class="form-control" id="city" type="text" name="city" required="required" /></div>
                    </div>
                </div>
                
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="location">Lokasi - <span style="font-weight:300;">Location</span></label><input class="form-control" id="location" type="text" name="location" required="required" /></div>
                    </div>
                </div>
                
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="detail">Detail - <span style="font-weight:300;">Detail</span></label><textarea class="form-control" id="detail" name="detail" rows="3"></textarea></div>
                    </div>
                </div>
                
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="form-group"><label class="form-control-label" for="addtional">Tambahan - <span style="font-weight:300;">Additional</span></label><textarea class="form-control" id="addtional" name="addtional" rows="3"></textarea></div>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin:1rem 0;">
                    <div class="col-12 col-md-6 col-lg-5 text-center"><input class="groovy-button hoverable" id="submit" type="submit" value="SUBMIT" /></div>
                </div>
            </div>
        </div>
    </form>
</main>