
    
    <main>
        <div class="container">
            <div class="row justify-content-center" style="padding:7rem 0;">
                <div class="col-6 text-center">
                    <h3 style="letter-spacing: 0.4px;line-height: 1.2;font-weight: 700;font-size: 40px;margin-top: 0px;color: rgb(94, 99, 105);">SUCCESS</h3>
                    <span style="font-size: 15px;color: rgb(159, 163, 169);">Success input data inquery</span>
                </div>
            </div>
        </div>
    </main> 
    