<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FC592E" />
    <title>Groovy - Connecting Home</title>
    <link rel="icon" sizes="192x192" href="https://grry-v-2-nurhandiyudi.c9users.io/images/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto:100,200,300,400,500,700" rel="stylesheet">


    <!-- Style css -->
    <link href="https://grry-v-2-nurhandiyudi.c9users.io/css/style.css" rel="stylesheet">
</head>
<body>
<div class="groovy-container">
    
    <nav class="navbar navbar-expand-lg bg-white">
      <a class="navbar-brand" href="#"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/logo-groovy.png" alt="logo-groovy" width="120px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/features" style="font-size:13px;padding: 0.5rem 1rem;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/packages" style="font-size:13px;padding: 0.5rem 1rem;">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/support" style="font-size:13px;padding: 0.5rem 1rem;">Support</a>
          </li>
        </ul>
        <a href="https://grry-v-2-nurhandiyudi.c9users.io/packages" class="sign-in-button" style="font-size:13px;">SUBSCRIBE NOW</a>
      </div>
    </nav>
    
    <main>
        <div class="container">
            <div class="row justify-content-center" style="padding:7rem 0;">
                <div class="col-6 text-center">
                    <h3 style="letter-spacing: 0.4px;line-height: 1.2;font-weight: 700;font-size: 40px;margin-top: 0px;color: rgb(94, 99, 105);">SUCCESS</h3>
                    <span style="font-size: 15px;color: rgb(159, 163, 169);">Success input data inquery</span>
                </div>
            </div>
        </div>
    </main> 
    
    <div class="home-footer">
        <div class="container home-content">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p style="line-height:25px;"><span class="home-footer-header-text"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/groovy.png" alt="" width="120px" style="margin-bottom:15px;"></span><br>
                        <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                        <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                        <a href="https://twitter.com/groovy_play">Twitter</a><br>
                        <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                        <span class="home-footer-body-text">
                        <a href="/features#unlimited">Unlimited Internet Access</a><br>
                        <a href="/features#ftth">Fiber Optic to the Home</a><br>
                        <a href="/features#free-wifi">Free Public Wifi Account</a><br>
                        <a href="/features#ip-static">IP Static</a><br>
                        <a href="/features#helpdesk">Helpdesk 24/7</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                        <a href="about">About</a><br/>
                        <a href="career">Career</a><br>
                        <a href="event">Event</a><br>
                        <a href="contact">Contact</a><br>
                        <a href="privacy-policy">Privacy Policy</a><br>
                        <a href="terms-of-use">Terms of Use</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-home">
        <div class="container footer-home-text">
            <p style="margin: 6px 0 10px;opacity:0.7">Copyright 2017 Groovy. All Right Reserved.</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/script.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/subscribe.js"></script>
</body>
</html>