
    <!--content-->
    <div class="container">
        <div class="support">
            <h2><span class="support-content-header">Welcome To Groovy Help Center</span></h2>
            <p><span class="support-content-text">Need help?<br>Find the answer to any question, from the basics all the way to advance guide</span></p>
    
            <div class="support-menu">
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent1">What is Groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent1" class="collapse">
                        <p class="support-paragraph-faq">Groovy is internet service with High-Speed Internet for a consistent fast connection. Explore interesting features and lineups while away from home no your smart phone, tablet or laptop.</p>
                    </div>
                </div>
    
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent2">How much does a subscription cost?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent2" class="collapse">
                        <p class="support-paragraph-faq">The subscription fee each month varies. There are three packages that you can customize to your needs. <a href="http://www.groovy.id/packages">http://www.groovy.id/packages</a></p>
                    </div>
                </div>
    
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent3">What do I need to subscribe Groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent3" class="collapse">
                        <p class="support-paragraph-faq">To subscribe to make sure the area you are within reach of our network. You do not need to be concerned about the Internet, because Groovy has included high-speed internet networks along with the package Groovy.</a></p>
                    </div>
                </div>
    
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent4">How do I register groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent4" class="collapse">
                        <p class="support-paragraph-faq">To register please go to the groovy groovy main page, then click the button subscriber now. You will be redirected to the registration page, please fill out the form until the last step. Once you confirm your email, we will contact you to confirm the installation of the service schedule.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="support-content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="support-content2-text">Want to ask more details about the service Groovy?</span>
                    <a href="contact" class="support-link-contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!--/content-->
    