<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FC592E" />
    <title>{{title}}</title>
    <link rel="icon" sizes="192x192" href="https://grry-v-2-nurhandiyudi.c9users.io/images/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto|Open+Sans:100,200,300,400,500,700" rel="stylesheet">

    <!-- Style css -->
    <link href="https://grry-v-2-nurhandiyudi.c9users.io/css/style.css" rel="stylesheet">
</head>
<body>
<div class="groovy-container">
    
    <nav class="navbar navbar-expand-lg fixed-top bg-white" style="border-bottom: 1px solid #eee;">
      <a class="navbar-brand" href="https://grry-v-2-nurhandiyudi.c9users.io"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/logo-groovy.png" alt="logo-groovy" width="120px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/features" style="font-size:13px;padding: 0.5rem 1rem;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://grry-v-2-nurhandiyudi.c9users.io/packages" style="font-size:13px;padding: 0.5rem 1rem;">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://grry-v-2-nurhandiyudi.c9users.io/support" style="font-size:13px;padding: 0.5rem 1rem;">Support</a>
          </li>
        </ul>
        <a href="https://grry-v-2-nurhandiyudi.c9users.io/packages" class="sign-in-button" style="font-size:13px;">GET DEAL</a>
      </div>
    </nav>
    
    <!--content-->
    <div class="container">
        <div class="support">
            <h2><span class="support-content-header">Welcome To Groovy Help Center</span></h2>
            <p><span class="support-content-text">Need help?<br>Find the answer to any question, from the basics all the way to advance guide</span></p>
    
            <div class="support-menu">
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent1">What is Groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent1" class="collapse">
                        <p class="support-paragraph-faq">Groovy is internet service with High-Speed Internet for a consistent fast connection. Explore interesting features and lineups while away from home no your smart phone, tablet or laptop.</p>
                    </div>
                </div>
    
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent2">How much does a subscription cost?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent2" class="collapse">
                        <p class="support-paragraph-faq">The subscription fee each month varies. There are three packages that you can customize to your needs. <a href="http://www.groovy.id/packages">http://www.groovy.id/packages</a></p>
                    </div>
                </div>
    
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent3">What do I need to subscribe Groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent3" class="collapse">
                        <p class="support-paragraph-faq">To subscribe to make sure the area you are within reach of our network. You do not need to be concerned about the Internet, because Groovy has included high-speed internet networks along with the package Groovy.</a></p>
                    </div>
                </div>
    
                <div class="support-content">
                    <button class="support-button-faq" data-toggle="collapse" data-target="#supportContent4">How do I register groovy?<span style="float: right;margin-right:20px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <div id="supportContent4" class="collapse">
                        <p class="support-paragraph-faq">To register please go to the groovy groovy main page, then click the button subscriber now. You will be redirected to the registration page, please fill out the form until the last step. Once you confirm your email, we will contact you to confirm the installation of the service schedule.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="support-content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="support-content2-text">Want to ask more details about the service Groovy?</span>
                    <a href="contact" class="support-link-contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!--/content-->
    
    <div class="home-footer">
        <div class="container home-content">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p style="line-height:25px;"><span class="home-footer-header-text"><img src="https://grry-v-2-nurhandiyudi.c9users.io/images/groovy.png" alt="" width="120px" style="margin-bottom:15px;"></span><br>
                        <span class="home-footer-body-text">Best Internet services for homes and apartments with a complete entertainment services, from live TV, video on demand, social TV, catch-up TV and radio streaming.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Stay Connected</span><br>
                    <span class="home-footer-body-text">
                        <a href="https://www.facebook.com/groovyplay">Facebook</a><br>
                        <a href="https://twitter.com/groovy_play">Twitter</a><br>
                        <a href="https://www.instagram.com/groovy_play/">Instagram</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Features</span><br>
                        <span class="home-footer-body-text">
                        <a href="/features#unlimited">Unlimited Internet Access</a><br>
                        <a href="/features#ftth">Fiber Optic to the Home</a><br>
                        <a href="/features#free-wifi">Free Public Wifi Account</a><br>
                        <a href="/features#ip-static">IP Static</a><br>
                        <a href="/features#helpdesk">Helpdesk 24/7</a><br>
                    </span></p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <p style="line-height:25px;"><span class="home-footer-header-text">Groovy</span><br>
                    <span class="home-footer-body-text">
                        <a href="about">About</a><br/>
                        <a href="career">Career</a><br>
                        <a href="event">Event</a><br>
                        <a href="contact">Contact</a><br>
                        <a href="privacy-policy">Privacy Policy</a><br>
                        <a href="terms-of-use">Terms of Use</a>
                    </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-home">
        <div class="container footer-home-text">
            <p style="margin: 6px 0 10px;opacity:0.7">Copyright 2017 Groovy. All Right Reserved.</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/script.js"></script>
<script src="https://grry-v-2-nurhandiyudi.c9users.io/js/subscribe.js"></script>
</body>
</html>