/*--- Body ---*/
html, body {
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

hr {
    border-style: inset;
    border-width: 1px;
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
/*--- /Body ---*/


/*--- Sidebar ---*/



.name {
    margin-top: 20px;
    color: #FFF;
}

.name:hover {
    color: #FFF;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.name:active {
    color: #FFF;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.title > div {
    margin-left: -25px;
    margin-top: 20px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.user {
    font-size: 12px !important;
    margin-top: -20px;
    padding-right: 30px;
}

.firstLiSidebar {
    margin-top: 20px;
}

#sidebar-wrapper {
    background: #383838;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.4s ease 0s;
    width: 250px;
    z-index: 1;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

/*-- Icon --*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    direction: ltr;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
/*-- /Icons --*/

.sidebar-nav > li {
    line-height: 40px;
    text-indent: 5px;
}

.active {
    background: rgba(255,255,255,0.2);
    color: #FFF;
    text-decoration: none;
}

.sidebar-nav > li > a {
    color: #B3B3B3;
    text-decoration: none;
}

.sidebar-nav > li > a:hover {
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav > li > a > i {
    margin-right: 15px;
    margin-top: -4px;
    vertical-align: middle;
}

.sidebar-brand {
    background-color: #FC592E;
}

img.img-nav-profile {
    border-radius: 50%;
    width: 100%;
}

.nav-name {
    color: #FFF;
    font-size: 12px;
}

.nav-tit {
    color: #FFF;
    font-size: 12px;
}

/*.sidebar-footer {
    bottom: 0px;
    position: absolute;
}*/

@media only screen and (max-height: 543px) {
    .sidebar-footer {
        bottom: 0px !important;
        position: relative;
    }
}

/*.sidebar-footer > div {
    border-top: 0.3px solid #B3B3B3;
    height: 60px;
    width: 250px;
}

.sidebar-footer > div > img {
    float: left;
    height: 23.75px;
    margin-left: 25px;
    margin-top: 20px;
    width: 76.5px;
}

.sidebar-footer > div > a {
    background:none;
    color: #B3B3B3;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 12px;
    text-decoration: none;
}*/

/*--- /Sidebar ---*/


/*--- Content ---*/
#page-content-wrapper {
    width: 100%;
}

.content-header {
    background-color: #FFF;
    height: 96px;
    padding: 15px;
}

.content-header > h3 {
    color: #666C6E;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.content-header > h3 > a {
    color: #666C6E;
    font-size: 18px;
    text-decoration: none;
}

#menu-toggle {
    text-decoration: none;
}

.inset {
    padding: 20px;
}

.page-content > .row > .col-lg-12 > div > a {
    background-color: #E2E2E2;
    border: none;
    border-radius: 0px;
    padding: 12.5px 30px 12.5px 30px;
}

@media (max-width: 310px) {

    .page-content {
        display: none;
    }
}

/*--- /Content ---*/


/*----- Dashboard Page -----*/

.cardDashboardSub {
    border:1px solid #FC592E;
    height: 200px;
    color:#E3471C;
    background-color:#fff;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .cardDashboardSub {
        height: 250px;
    }
}

.cardDashboardCover {
    background-color: #FFFFFF;
    height: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.cardDashboardCover > div > div > h4 {
    color: #F15A34;
}

.imageCoverage {
    width: 25%;
}

@media only screen and (max-width: 767px) {
    .cardDashboardSub {
        height: 250px;
    }
}

/*----- /Dashboard Page -----*/
/*----- All Subscribers Page -----*/
/*--- Search ---*/
.form-group > div > i {
    color:#666C6E;
}

.form-group input {
    box-shadow: none !important;
}

.form-group > div > input {
    border: none;
    border-radius: 0px;
    height: 60px;
}

#subtimeinst {
    box-shadow: none !important;
}

.sort-down {
    background-color: #E2E2E2;
    border: none;
    border-radius: 0px;
    color: #333;
    float: right;
    margin-left: 15px;
    padding: 14px;
    text-decoration: none;
}

.sort-down:hover {
    color: #333;
    text-decoration: none;
}

/*--- Subscriber List ---*/
.subscriber-list > li {
    background-color: #FFF;
    display: block;
    margin: 0px 0 0 -40px;
    padding: 20px 0 20px 20px;
}

.subscriber-list > li > div > .list-nik {
    margin-right: -50px;
}

.subscriber-list > li > div > .list-nik > span{
    color: #666C6E;
    margin-left: 20px;
}

.subscriber-list > li > div > .list-name > span{
    color: #666C6E;
}

.subscriber-list > li > div > .list-activ > span{
    margin-left: 10px;
}

.subscriber-list > li > div > .list-paid > span{
    margin-left: -10px;
}

@media only screen and (max-width: 767px) {

    .subscriber-list > li > div > .list-nik > span{
        margin-left: 0px;
    }

    .subscriber-list > li > div > .list-activ > span{
        margin-left: 0px;
    }

    .subscriber-list > li > div > .list-paid > span{
        margin-left: 0px;
    }

}
/*--- /Subscriber List ---*/

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    margin-right: 15px;
    margin-top: 13px;
    padding: 10px;
    pointer-events: none;
    position: absolute;
}

/* align glyph */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }
/*--- /Search ---*/
/*----- /All Subscribers Page -----*/

/*----- Billing Page -----*/
.inset > .row > .col-lg-12 > .row > .col-md-6 > .col-md-12 {
    background-color: #FFF;
    color: #333;
    height: 270px;
}

.inset > .row > .col-lg-12 > .row > .col-md-12 {
    background-color: #FFF;
    color: #333;
}

.inset > .row > .col-lg-12 > .row > .col-md-6 > .col-md-12 > .next {
    background-color: #FC592E;
    border: none;
    border-radius: 0px;
    color: #FFF;
    margin: 20px 0 0 25px;
    padding: 12.5px 40px 12.5px 40px;
}

.contCard {
    margin-bottom: 20px;
}

.contList {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.contPage {
    padding-left: 15px;
    padding-right: 15px;
}

.inset > div > div > div > div > div > h4 {
    padding: 40px 15px 15px 25px;
}

.inset > div > div > div > div > div > h4 > a {
    color: #333;
    text-decoration: none;
}

.inset > div > div > div > div > div > div > .col-sm-3 {
    margin-bottom: 10px;
    padding-left: 40px;
}

.inset > div > div > div > div > div > div > .col-sm-1 {
    margin-bottom: 10px;
}

.inset > div > div > div > div > div > div > .col-sm-8 {
    margin-bottom: 10px;
}

.inset > div > div > div > div > div > div > .col-sm-4 {
    margin-bottom: 10px;
    padding-left: 40px;
}

.inset > div > div > div > div > div > div > .col-sm-7 {
    margin-bottom: 10px;
}

.invoiceId {
    padding: 10px 0px 10px 35px;
}

.invoiceList {
    padding: 10px 0px 10px 0px;
}

.invoiceIdHeader {
    background-color: #FC592E;
    color: #FFF;
    height: 60px;
    padding: 20px 0px 20px 35px;
}

.invoiceListHeader {
    background-color: #FC592E;
    height: 60px;
    color: #FFF;
    padding: 20px 0px 20px 0px;
}

.inset > div > div > .contPage > div {
    margin: 0px;
    padding: 0px;
}

.inset > div > div > .contPage > div > nav {
    float: right;
    margin: 0px;
    padding: 0px;
}

.inset > div > div > .contPage > div > nav > ul > .prevBillPage {
    background-color: #E2E2E2;
    display: block;
    float: left;
    height: 40px;
    margin: 0 5px 0 5px;
    padding: 7px 15px 10px 10px;
    width: 40px;
}

.inset > div > div > .contPage > div > nav > ul > .nextBillPage {
    background-color: #E2E2E2;
    display: block;
    float: left;
    height: 40px;
    margin: 0 0px 0 5px;
    padding: 7px 15px 10px 10px;
    width: 40px;
}

.inset > div > div > .contPage > div > nav > ul > li {
    background-color: #E2E2E2;
    display: block;
    float: left;
    height: 40px;
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    width: 40px;
}

.inset > div > div > .contPage > div > nav > ul > li > a {
    color: #9B9B9B;
    text-decoration: none;
}

.contList > div > div > .invoiceId {
    background-color: #FFF;
    color: #333;
}

@media only screen and (max-width: 767px) {
    .inset > .row > .col-lg-12 > .row > .col-md-6 > .col-md-12 {
        height: 400px;
    }

    .inset > .row > .col-lg-12 > .row > .col-md-6 > .col-md-12 > .row > .col-sm-7 {
        padding-left: 40px;
    }

    .inset > .row > .col-lg-12 > .row > .col-md-6 > .col-md-12 > .row > .col-sm-8 {
        padding-left: 40px;
    }

    .invoiceList {
        margin-left: 35px;
    }

    .inset > div > div > div > div > div > .paddingL35 {
        margin-left: 0px;
    }

    .inset > .row > .col-lg-12 > .row > .col-md-12 {
        background-color: #F0F0F0;
    }

    .inset > .row > .col-lg-12 > .row > .col-md-12 > .row {
        background-color: #FFF;
        margin-bottom: 10px;
    }
}
/*----- /Billing Page -----*/

/*----- Billing Information Page ------*/

.bildate {
    display: none;
}

@media only screen and (max-width: 767px) {
    .hid {
        display: none;
    }

    .c1 {
        height: 700px;
    }

    .bildate {
        display: flex;
    }
}
/*------ /Biling Information Page ------*/

/*----- New Report Page -----*/
.row > .col-sm-6 > .formNewReport > form {
    margin: 0;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.row > .col-sm-6 > .formNewReport > form > select {
    background-color: #f0f0f0;
    border: 0px;
    font-size: 14px;
    height: 45px;
    margin: 0;
    padding: 0px 0px 0px 5px;
    width: 100%;
}

.row > .col-sm-6 > .formNewReport > form > select > .option {
    height: 30px;
}

.formNewReport > a {
    background-color: #FC592E;
    border: none;
    border-radius: 0px;
    color: #FFF;
    float: right;
    margin: 20px 0px 20px 0px;
    padding: 12.5px 50px 12.5px 50px;
}

.alertNewReports > div {
    background-color: #FD8A6C;
    color: #FFF;
    margin-right: 60px;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

@media only screen and (max-width: 767px) {
    .alertNewReports {
        display: none;
    }
}
/*----- /New Report Page -----*/

/*----- Information Page -----*/
.subInfo {
    background-color: #FFF;
    color: #333;
    font-weight: 500;
    margin: 0px 15px 0px 15px;
    padding: 15px 0px 15px 0px;
}

.infoDetail {
    padding: 0px 0px 20px 35px;
}

@media only screen and (max-width: 767px) {
    .subInfo {
        margin-bottom: 20px;
    }
}
/*----- /Information Page -----*/

/*------ Account Page ------*/

.subInfo > .col-sm-12 > .row > .col-sm-12 > h4 {
    color: #333;
    margin-left: 20px;
    margin-top: 50px;
}

.subInfo > .col-sm-12 > .row > .col-sm-12 > .row {
    margin: 10px 0px 10px 0px;
}

.subInfo > div > div > div > div > div > p {
    padding: 22px 0px 26px 0px;
}

.subInfo > div > div > div > div > .col-sm-2 {
    margin-left: 20px;
}

.subInfo > div > div > div > div > div > .form-control {
    background-color: #f0f0f0;
    border: none;
    border-radius: 0px;
    font-size:14px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

.subInfo > div > div > div > div > div > div > button {
    float: left;
}

.subInfo > div > div > div > div > div > div > p {
    float: left;
    margin-left: 5px;
}

.subInfo > div > div > div > div > form {
    margin-left: 35px;
}

.subInfo > div > div > div > div > a {
    background-color: #FC592E;
    border: none;
    border-radius: 0px;
    color: #FFF;
    margin: 40px 0px 20px 35px;
    padding: 12.5px 50px 12.5px 50px;
}

.subInfo > .col-sm-12 > .row > div > div > div  > input {
    background-color: #f0f0f0;
    border: none;
    border-radius: 0px;
    font-size:14px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0px 0px 0x 20px;
    width: 100%;
}

@media only screen  and (max-width: 767px) {
    .subInfo > div > div > div > div > .col-sm-2 {
        margin-left: 0px;
    }
}
/*----- /Account Page ------*/

/*----- Billing Information ------*/
.inset > div > div > .rowButton {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

.inset > div > div > div > div > .billInfoBack {
    background-color: #E2E2E2;
    border: none;
    border-radius: 0px;
    color: #676767;
    padding: 12.5px 40px 12.5px 40px;
    text-decoration: none;
}

.inset > div > div > div > div > .billInfoPrint {
    background-color: #E2E2E2;
    border: none;
    border-radius: 0px;
    color: #676767;
    float: right;
    padding: 12.5px 40px 12.5px 40px;
    text-decoration: none;
}

.inset > div > div > .rowBillInfoContList {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.inset > div > div > div > div > .headerList {
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .headerList {
        margin-bottom: 20px;
    }
}

.inset > div > div > div > div > div > .invoiceId {
    background-color: #FC592E;
    color: #FFF;
    height: 60px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.rowBillInfoContList > div > div > .col-sm-12 {
    background-color: #FFF;
}

.rowBillInfoContList > div > div > div > div > .col-sm-6 {
    height: 200px;
}

.rowBillInfoContList > div > div > div > div > div > .rowBillInfoAddr {
    margin-top: 90px;
}

.rowBillInfoContList > div > div > div > div > div > div > div > .row {
    padding-left: 20px;
    padding-right: 20px;
}

.rowBillInfoContList > div > div > div > div > div > .rowBillinfoDate {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.rowBillInfoContList > div > div > div > div > div > .rowBillinfoDate > .col-sm-12 {
    background-color: #FC592E;
    color: #FFF;
}

.rowBillInfoContList > div > div > div > div > div > .rowBillinfoDate > div > div {
    padding: 15px 0px 15px 0px;
}

.rowBillInfoContList > div > div > div > div > div > .rowBillinfoDate > .billInfoDateList {
    background-color: #F0F0F0;
    color: #333;
}

.rowBillInfoContList > div > div > div > .rowBillInfoP1 {
    padding: 20px 0px 20px 10px;
}

.rowBillInfoContList > div > div > div > div > .col-md-12 > .row {
    padding-left: 20px;
    padding-right: 20px;
}

.rowBillInfoContList > div > div > div > div > .col-md-12 > .row > .col-sm-12 {
    background-color: #FC592E;
    color: #FFF;
}

.rowBillInfoContList > div > div > div > div > .col-md-12 > .row > div > div {
    padding: 15px 10px 15px 10px;
}

.right {
    float: right;
}

.rowBillInfoContList > div > div > div > div > .col-md-12 > .row > .listWhite {
    background-color: #FFF;
    color: #333;
}

.rowBillInfoContList > div > div > div > div > .col-md-12 > .row > .listGrey {
    background-color: #E2E2E2;
    color: #333;
}

.rowBillInfoContList > div > div > div > div > .col-md-12 > .row > .listGrey > div {
    padding: 20px 10px 20px 10px;
}

.rowBillInfoContList > div > div > div > .rowBillInfoP2 {
    padding: 20px 0px 20px 10px;
}

.rowBillInfoContList > div > div > div > .rowBillInfoP2 > div > ul {
    list-style-type:none;
    margin-left: 15px;
    padding: 0px;
}
/*----- /Billing Information ------*/

/*----- Index Subscriber ------*/
.headerSubList {
    background-color: #FC592E;
    color: #FFF;
    height: 60px;
}


/*----- Index Subscriber ------*/

.inset > div > div > .buttonOrange {
    margin-left: 15px;
}

.reportDetail > div > .row {
    padding-left: 15px;
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .cardDown {
        margin-top: 20px !important;
    }

    .font70MarginT-20 {
        margin-top: 20px !important;
    }
}

/*----- New Class ------*/
.marginLR15 {
    margin-left: 15px;
    margin-right: 15px;
}

.font100Margin30 {
    font-size: 100px !important;
    margin-top: 30px;
}

.marginTop40 {
    margin-top: 40px;
}

.marginBL10 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.marginB10 {
    margin-bottom: 10px;
}

.paddingLR15Margin20 {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.paddingLR30 {
    padding-left: 30px;
    padding-right: 30px;
}

.paddingL35 {
    padding-left: 35px;
}

.paddingL10 {
    padding-left: 10px;
}

a.linkViewAll {
    color: #ACACAC;
    text-decoration: none;
}

a.linkViewAll:hover {
    color: #ACACAC;
}

.marginB20 {
    margin-bottom: 20px;
}

.marginR0 {
    margin-right: 0px;
}

.marginR15{
    margin-right: 15px;
}

.buttonBack {
    background-color: #E2E2E2;
    border: none;
    border-radius: 0px;
    color: #676767;
    margin-left: 15px;
    padding: 12px 26px;
    text-decoration: none;
}

.roboto {
    font-family: 'Roboto';
}

.colorInfoDetail {
    color: #8B8B8B;
}

.grey333 {
    color: #333333;
}

.red {
    color: red;
}

.green {
    color: green;
}

.white {
    color: white;
}

.marginT20 {
    margin-top: 20px;
}

.marginLR20 {
    margin-left: 20px;
    margin-right: 20px;
}

.marginT10 {
    margin-top: 10px;
}

.marginB10 {
    margin-bottom: 10px;
}

.border0MT10W100 {
    border: 0px;
    margin-top: 10px;
    width: 100%;
}

.grey8b {
    color: #8B8B8B;
}

.buttonSort {
    background-color: #E2E2E2;
    border: none;
    border-radius: 0px;
    color: #676767;
    padding: 12px 26px;
    text-decoration: none;
}

.width100 {
    width: 100%;
}

.buttonOrange {
    background-color: #FC592E;
    border: none;
    border-radius: 0px;
    color: #FFF;
    padding: 12px 26px;
    text-decoration: none;
}

a.buttonOrange:hover {
    background-color: #FC592E;
    color: #FFF;
    text-decoration: none;
}

a.buttonOrange:active {
    background-color: #FC592E;
    color: #FFF;
    text-decoration: none;
}

a.buttonOrange:focus {
    background-color: #FC592E;
    color: #FFF;
    text-decoration: none;
}

button.buttonOrange:hover {
    background-color: #FC592E !important;
    color: #FFF !important;
    text-decoration: none;
}

button.buttonOrange:active {
    background-color: #FC592E !important;
    color: #FFF !important;
    text-decoration: none;
}

button.buttonOrange:focus {
    background-color: #FC592E !important;
    color: #FFF !important;
    text-decoration: none;
}

.ava {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.font70MarginT35 {
    font-size: 70px;
    margin-top: 35px;
}

.marginTB10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.marginL5 {
    margin-left: 5px;
}

.padding20 {
    padding: 20px;
}

.inputForm {
    background-color: #f0f0f0;
    border: none;
    border-radius: 0px;
    font-size:14px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

.titleH4{
    color: #333;
    margin-left: 20px;
    margin-top: 50px;
}

.paddingTB20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.paddingR8 {
    padding-right: 8px !important;
}

.paddingR30 {
    padding-right: 30px;
}

.paddingR45 {
    padding-right: 45px;
}

.left {
    float: left;
}

.paddingT20 {
    padding-top: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
}

.paddingT25 {
    padding-top: 25px;
}

.paddingT30 {
    padding-top: 30px;
}

.paddingT15 {
    padding-top: 15px;
}

.marginT20 {
    margin-top: 20px;
}

.marginT125 {
    margin-top: 125px;
}

.numberInCardBilling {
    font-size: 70px;
    margin-top: -30px;
}

.marginL10 {
    margin-left: 10px;
}

.marginL20 {
    margin-left: 20px;
}

.marginL35 {
    margin-left: 35px;
}

.avaProfile {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.font70MarginT-20 {
    font-size: 70px !important;
    margin-top: -20px !important;
}

.marginL40sen {
    margin-left: 40%;
}

.fontWeight300 {
    font-weight: 300;
}

.subTotal {
    padding-top: 10px !important;
}

.subTotalCek {
    margin-right: 15px !important;
}

/*----- /New Class ------*/

.hover-disable {
    font-size:11px;
    opacity:0.6;
    pointer-events:none;
}

.print {
    display: block;
}

button.active{
    display: block;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity:0.2 !important;
}

/*--- Dropdown ---*/
.buttonDrop {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button {
    background-color: #FFF;
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .buttonDrop {
    background-color: #E2E2E2;
}

@media (min-width: 767px){
    .dropdown:hover .dropdown-content {
        right: 0;
    }
}
/*--- /Dropdown ---*/

/*--- Not Found ---*/
.fullscreenDiv {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 35%;
    left: 40%;
    margin-top: -25px;
    margin-left: -50px;
}
hr.hr1 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #c1c1c1, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #c1c1c1, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #c1c1c1, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #c1c1c1, #f0f0f0);
}
/*--- /Not Found ---*/

.step-controls {
    display: none;
}